<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<meta charset="utf-8">
<title>week3</title>
<style>
  .error{
    display:none;
  }
  #list1,#list2{
    float:left;
  }
  $list2{
    margin-left:20px;
  }
  .title{
    background:#eee;
  }
</style>
</head>
<body>
  <!--1————promise 开始-->
  <div class="" ng-controller="ShoppingListController as list">
    <h1>1————promise</h1>
    <input type="text" ng-model="list.itemName" placeholder="item name"><br>
    <input type="text" ng-model="list.itemQuantity" placeholder="item quantity"><br>
    <button type="button" ng-click="list.addItem()">add Item List</button>
    <ol>
      <li ng-repeat="item in list.items">
        {{item.quantity}}
        of{{item.name}}
        <button type="button" ng-click="list.removeItem($index)">remove</button>
      </li>
    </ol>
    <div style="color:red">
      Error:{{list.errorMessage}}
    </div>
  </div>
  <!--1————promise 结束-->
  <!--2————$http 开始-->
  <div class="" ng-controller="menuListController as menus">
    <h1>2————$http</h1>
    <ul>
      <li ng-repeat="item in menus.catarage">
        (<a href="#" ng-click="menus.logMenuItems">{{item.name}}</a>)<br>
        {{item.name}}{{item.price}}
      </li>
    </ul>
  </div>
  <!--2————$http 结束-->
  <!--3————directives of @  =开始-->
  <div >
    <h1>3————directives of @  =</h1>
    <div class="" ng-controller="ShoppingListController1 as list1">
      <input type="text" ng-model="list1.itemName" placeholder="item name"><br>
      <input type="text" ng-model="list1.itemQuantity" placeholder="item quantity"><br>
      <button type="button" ng-click="list1.addItem()">add Item List</button>
      <list-item my-list="list1" title="{{list1.title}}"></list-item>
      <div style="color:red">
        Error:{{list1.errorMessage}}
      </div>
    </div>

    <div class="" ng-controller="ShoppingListController2 as list2">
      <input type="text" ng-model="list2.itemName" placeholder="item name"><br>
      <input type="text" ng-model="list2.itemQuantity" placeholder="item quantity"><br>
      <button type="button" ng-click="list2.addItem()">add Item List</button>
        <list-item my-list="list2"></list-item>
      <div style="color:red">
        Error:{{list2.errorMessage}}
      </div>
    </div>
  </div>
  <!--3————directives of @  =结束-->
  <!--4————directives of controller开始-->
  <div >
    <h1>4————directives of controller</h1>
    <div class="" ng-controller="ShoppingListDirectiveController as list">
      <input type="text" ng-model="list.itemName" placeholder="item name"><br>
      <input type="text" ng-model="list.itemQuantity" placeholder="item quantity"><br>
      <button type="button" ng-click="list.addItem()">add Item List</button>
      <!-- <p>{{list.lastRemoved}}</p> -->
      <shopping-list
        id="list1"
        items="list.items"
        title="{{list.title}}"
        bad-remove="list.removeItem"
        on-remove='list.removeItem(index)'
      >
        <!-- transclue  examples-->
        <!-- <span class="warning">
          warning warning{{list.warning}}
        </span> -->
      </shopping-list>

      <!-- <shopping-list
        id="list2"
        items="list.items"
        title="{{list.title}}"
        bad-remove="list.removeItem"
        on-remove='list.removeItem(index)'
      >

        <div>
          <div class="title">
            oh THE HORROR!
          </div>
          <div>
            {{list.warning}}
          </div>
        </div>
      </shopping-list> -->

  </div>
  <!--4————directives of controller结束-->

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
