<!-- <h4>{{title}}</h4>
<ol>
  <li ng-repeat="item in list.items">
    {{item.quantity}}
    of{{item.name}}
    <button type="button" ng-click="list.removeItem($index)">remove</button>
  </li>
</ol>
<div style="color:red">
  Error:{{list.errorMessage}}
</div> -->


<h4>{{list.title}}</h4>
<ol>
  <li ng-repeat="item in list.items">
    {{item.quantity}}
    of{{item.name}}
    <!-- <button type="button" ng-click="list.badRemove($index)">remove</button> -->
    <button type="button" ng-click="list.onRemove({index:$index})">remove</button>
  </li>
</ol>
<p>
  {{list.ice}}
</p>
<!-- <div style="color:red" class="error">
  ohh!cookies is detected!!
</div> -->
<!-- <div class="error" ng-transclude>

</div> -->
